{% include 'siteWeb/inc/header.html.twig' %}

{% include 'siteWeb/inc/menuBar.html.twig' %}


<div id="breadcrumb"><div class="container">
        <div id="crumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage')}}">
                    Ecole Nationale des Sciences de l'Informatique</a></span> &gt; <span class="current">Organigramme
            </span></div></div><!-- .container -->
</div>
<div id="content" class="site-content"><div class="container"><div class="inner-wrapper">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <article id="post-10" class="post-10 page type-page status-publish has-post-thumbnail hentry">
                        <header class="entry-header">
                            <h1 class="entry-title">Organigramme</h1></header><!-- .entry-header -->

                        <div class="entry-content">

                            <img src="{{ asset('assets/siteWeb/img/organigramme.png') }}" width="1000" height="1000" class="aligncenter wp-post-image" alt="ENSI 01">		<p>&nbsp;</p>

                        <footer class="entry-footer">
                        </footer><!-- .entry-footer -->
                    </article><!-- #post-## -->


                </main><!-- #main -->
            </div><!-- #primary -->
            {% include 'siteWeb/inc/news.html.twig' %}
        </div><!-- .inner-wrapper --></div><!-- .container --></div>

{% include 'siteWeb/inc/footer.html.twig' %}