<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% include 'dashboard/inc/css.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{asset('assets/siteWeb/img/logos/ensi-logo.png')}}" />
        {% block stylesheets %}
        {% endblock%}
        {% block js %}
        {% endblock %}
    </head>
    <body class="fixed-left"  >
    <div id="wrapper">
        {% include 'dashboard/inc/header.html.twig' %}
        {% include 'dashboard/inc/sidebarmenu.html.twig' %}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
            {% block content %}
             {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
    <script language="javascript">
    
    </script>
    </body>
</html>

