<footer class="entry-footer">
</footer><!-- .entry-footer -->
</article><!-- #post-## -->


</div><!-- .inner-wrapper --></div><!-- .container --></div><!-- #content -->
<footer id="colophon" class="site-footer" role="contentinfo"><div class="container">
        <div id="footer-navigation" class="menu-menu-en-bas-container"><ul id="menu-menu-en-bas" class="menu"><li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://www.ensi-uma.tn/ecole-doctorale/">École doctorale</a></li>
                <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="http://www.ensi-uma.tn/les-manifestations/">Les manifestations</a></li>
                <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://www.ensi-uma.tn/laboratoires-de-recherche/">Laboratoires de recherche</a></li>
                <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="http://www.ensi-uma.tn/cursus-ingenieur/">Cursus ingénieur</a></li>
            </ul></div>              <div class="copyright">
            Copyright. Tous droits résérvés.      </div><!-- .copyright -->
        <div class="site-info">
            Site officiel de l'<a href="http://www.ensi-uma.tn/">ENSI</a>    </div><!-- .site-info -->
    </div><!-- .container --></footer><!-- #colophon -->
</div><!-- #page --><a href="http://www.ensi-uma.tn/#page" class="scrollup" id="btn-scrollup"><i class="fa fa-chevron-up"></i></a>
<body>


<script language="JavaScript">
    var gmb_data = {"i18n":{"get_directions":"Get Directions","visit_website":"Visit Website"},"infobubble_args":{"shadowStyle":0,"padding":12,"backgroundColor":"rgb(255, 255, 255)","borderRadius":3,"arrowSize":15,"minHeight":20,"maxHeight":450,"minWidth":200,"maxWidth":350,"borderWidth":0,"disableAutoPan":true,"disableAnimation":true,"backgroundClassName":"gmb-infobubble","closeSrc":"https:\/\/www.google.com\/intl\/en_us\/mapfiles\/close.gif"}};
    var Education_Hub_Screen_Reader_Text = {"expand":"<span class=\"screen-reader-text\">expand child menu<\/span>","collapse":"<span class=\"screen-reader-text\">collapse child menu<\/span>"};
    $(function(){

        $("#demoTab").easyResponsiveTabs();	});
</script>
{% include 'siteWeb/inc/js.html.twig' %}

</html>