<div id="main-nav" class="clear-fix">
    <div class="container">
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i>Menu</button>
            <div class="wrap-menu-content">
                <div class="menu-menu-principal-container"><ul id="primary-menu" class="menu"><li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-24"><a href="{{path('homepage')}}">Accueil</a></li>
                        <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-26"><a href="http://www.ensi-uma.tn/#">L’école</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="{{path('presentation_ensi')}}">Présentation de l’ENSI</a></li>
                                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="{{ path('organigramme_ensi') }}">Organigramme</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27"><a href="http://www.ensi-uma.tn/#">Formation</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://www.ensi-uma.tn/admissions/">Admissions</a></li>
                                <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="http://www.ensi-uma.tn/cursus-ingenieur/">Cursus ingénieur</a></li>
                                <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="http://www.ensi-uma.tn/les-filieres/">Les filières</a></li>
                                <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="http://www.ensi-uma.tn/les-enseignants/">Enseignants</a></li>
                                <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="http://www.ensi-uma.tn/ecole-doctorale/">École doctorale</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28"><a href="http://www.ensi-uma.tn/#">Recherche</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-52"><a href="http://www.ensi-uma.tn/laboratoires-de-recherche/">Laboratoires de recherche</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                                    <ul class="sub-menu">
                                        <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="http://www.ensi-uma.tn/laboratoire-cristal/">Laboratoire CRISTAL</a></li>
                                        <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312"><a href="http://www.ensi-uma.tn/laboratoire-riadi/">Laboratoire RIADI</a></li>
                                        <li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="http://www.ensi-uma.tn/laboratoire-hana/">Laboratoire HANA</a></li>
                                        <li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a href="http://www.ensi-uma.tn/laboratoire-cosmos/">Laboratoire COSMOS</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://www.ensi-uma.tn/manifestations-scientifiques/">Manifestations scientifiques</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29"><a href="http://www.ensi-uma.tn/#">Entreprises</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://www.ensi-uma.tn/conventions/">Conventions</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-espaces"><a href="{{ path('espaces_ensi')}}">Espace privé</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://www.ensi-uma.tn/conventions/">Espace Administration</a></li>
                                <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://www.ensi-uma.tn/conventions/">Espace Etudiant</a></li>
                                <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://www.ensi-uma.tn/conventions/">Espace Enseignant</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-30"><a href="http://www.ensi-uma.tn/#">Internationale</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="http://www.ensi-uma.tn/conventions-universite/">Conventions université</a></li>
                                <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="http://www.ensi-uma.tn/co-diplome/">Co-diplôme</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-31"><a href="http://www.ensi-uma.tn/#">Vie étudiante</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
                            <ul class="sub-menu">
                                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://www.ensi-uma.tn/les-concours/">Les concours</a></li>
                                <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="http://www.ensi-uma.tn/les-manifestations/">Les manifestations</a></li>
                                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="http://www.ensi-uma.tn/les-clubs/">Les clubs</a></li>
                            </ul>
                        </li>


                    </ul></div>            </div><!-- .menu-content -->
        </nav><!-- #site-navigation -->
    </div> <!-- .container -->
</div> <!-- #main-nav -->