<div class="inner-wrapper">
    <div class="recent-news">
        <h2>Publications récentes</h2>
        <div class="inner-wrapper">

            <!--
            <div class="news-post">
                 <a href=""><img width="360" height="139" src="" class="aligncenter wp-post-image" alt="ensi-02" srcset="" sizes="(max-width: 360px) 100vw, 360px"></a>
                 <div class="news-content">
                     <h3><a href="">Inauguration du Centre de Recherche de l’ENSI</a></h3>
                     <div class="block-meta">
                         <a href="" rel="bookmark"><time class="entry-date published" datetime="2017-04-19T00:59:58+00:00">19 avril 2017</time><time class="updated" datetime="2017-04-19T03:03:09+00:00">19 avril 2017</time></a>	  					</div>
                     <p>Programme de l’Inauguration du Computer Science Research Center de l'ENSI Inscription 8h30-9h00 Inscription à l’Amphithéâtre...</p>
                     <a href="http://www.ensi-uma.tn/inauguration-du-centre-de-recherche-de-lensi/" class="button">En savoir plus</a>
                 </div>
             </div>
                -->

            <div class="news-post">
               <a href="">
                   <img width="360" height="139" src="" class="aligncenter wp-post-image"
                        alt="ensi-02" srcset="{{asset('assets/siteWeb/img/posts/Ensi-02-1.jpg')}}" sizes="(max-width: 360px) 100vw, 360px"></a>
                <div class="news-content">
                    <h3><a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/">Bienvenue dans le site web de l’ENSI</a></h3>
                    <div class="block-meta">
                        <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" rel="bookmark"><time class="entry-date published" datetime="2017-01-03T11:41:08+00:00">3 janvier 2017</time><time class="updated" datetime="2017-04-19T01:58:15+00:00">19 avril 2017</time></a>	  					</div>
                    <p>Bienvenue dans le nouveau site web de l'ENSI. Vous trouverez ici toutes les informations concernant...</p>
                    <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" class="button">En savoir plus</a>
                </div> <!-- .news-content -->
            </div> <!-- .news-post -->
            <div class="news-post">
                <div class="news-content">
                    <h3><a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/">Bienvenue dans le site web de l’ENSI</a></h3>
                    <div class="block-meta">
                        <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" rel="bookmark"><time class="entry-date published" datetime="2017-01-03T11:41:08+00:00">3 janvier 2017</time><time class="updated" datetime="2017-04-19T01:58:15+00:00">19 avril 2017</time></a>	  					</div>
                    <p>Bienvenue dans le nouveau site web de l'ENSI. Vous trouverez ici toutes les informations concernant...</p>
                    <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" class="button">En savoir plus</a>
                </div> <!-- .news-content -->
            </div>

            <div class="news-post">
                <div class="news-content">
                    <h3><a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/">Bienvenue dans le site web de l’ENSI</a></h3>
                    <div class="block-meta">
                        <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" rel="bookmark"><time class="entry-date published" datetime="2017-01-03T11:41:08+00:00">3 janvier 2017</time><time class="updated" datetime="2017-04-19T01:58:15+00:00">19 avril 2017</time></a>	  					</div>
                    <p>Bienvenue dans le nouveau site web de l'ENSI. Vous trouverez ici toutes les informations concernant...</p>
                    <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" class="button">En savoir plus</a>
                </div> <!-- .news-content -->
            </div>
            <div class="news-post">
                <div class="news-content">
                    <h3><a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/">Bienvenue dans le site web de l’ENSI</a></h3>
                    <div class="block-meta">
                        <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" rel="bookmark"><time class="entry-date published" datetime="2017-01-03T11:41:08+00:00">3 janvier 2017</time><time class="updated" datetime="2017-04-19T01:58:15+00:00">19 avril 2017</time></a>	  					</div>
                    <p>Bienvenue dans le nouveau site web de l'ENSI. Vous trouverez ici toutes les informations concernant...</p>
                    <a href="http://www.ensi-uma.tn/bonjour-tout-le-monde/" class="button">En savoir plus</a>
                </div> <!-- .news-content -->
            </div>
            <div id="content" class="site-content"><div class="container">
                    <div class="inner-wrapper">


                        <div id="primary" class="content-area">
                            <main id="main" class="site-main" role="main">
                                <article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-actualites">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a href="" rel="bookmark">Présentation de l’ENSI</a></h2>
                                        <div class="entry-meta">
                                        </div><!-- .entry-meta -->
                                    </header><!-- .entry-header -->
                                </article>

                                <!-- video présentation de l'ensi -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/kRx2eDK-Ydo"></iframe>
                                </div>
                            </main><!-- #main -->
                        </div><!-- #primary -->
                    </div>
                </div> <!-- .container -->

            </div> <!-- .inner-wrapper -->


        </div> <!-- .recent-news -->

    </div> <!-- .inner-wrapper -->



</div> <!-- #featured-news-events -->