<div id="featured-slider">
    <div class="container">
        <!-- slider-->
        <div class="cycle-slideshow" id="main-slider" data-cycle-fx="fadeout" data-cycle-speed="2000" data-cycle-pause-on-hover="true" data-cycle-loader="true" data-cycle-log="false" data-cycle-swipe="true" data-cycle-auto-height="container" data-cycle-caption-template=""  data-cycle-timeout="350" data-cycle-slides="article" style="height: 551px;">

            <!-- prev/next links -->
            <div class="cycle-prev"></div>
            <div class="cycle-next"></div>

            <!-- empty element for caption -->
            <div class="cycle-caption"><h3><a href="" target="_self">Bienvenue à l'ENSI</a></h3><p>Bienvenu à l’École Nationale des Sciences de l'Informatique</p></div>
            <!-- pager -->
            <div class="cycle-pager"><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box cycle-pager-active"></span></div>

             {%for s in slide%}
      <article class="cycle-slide" data-cycle-title="{{s.titre}}" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 0; display: block;">

       <img src="{{ asset('assets/siteWeb/img/slider/' ~ s.path_img ~'')}}" alt="{{s.titre}}"">

            </article>
                {%endfor%}

       </div> <!-- #main-slider -->

    </div><!-- .container -->
</div><!-- #featured-slider -->